.app {
  .app-header {
    float: left;
    padding: 0 0 0 15px;
    background: -webkit-linear-gradient(45deg,#eff6ff, #5fbce4);
    .app-logo {
      img {
        border-radius: 35px;
        height: 70px;
      }
    }
    .app-user {
      float: right;
      padding-right: 20px;
      .app-avatar {
        margin-top: 10px;
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: pink;
      }
      .app-nickName {
        padding: 0 10px;
      }
    }
  }
  .app-content {
    background-color: #fafafa;
  }
  .ant-layout {
    height: 91vh;
  }
  .ant-layout-header {
    height: 9vh;
    min-height: 64px;
  }
  .ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-vertical-left, .ant-menu-root.ant-menu-vertical-right,
   .ant-menu-root.ant-menu-inline {
    box-shadow: none;
    background: #edf6ff;
  }
}